@use 'sass:math';

html {
    scroll-padding-top: 100px;
}

body {
  font-family: $fontFamily;
  width: 100%;
  min-height: 100%;
  color: #111111;
  line-height: 1;
  background: #f2f4f4;

  &._locked {
      position: fixed;
      left: 0;
      overflow: hidden;
    }
  &._fixPadding {
      @media screen and (min-width: #{$desktop}) {
        padding-right: 17px;
      }
    }
}

.container, [class*="__container"] {
  width: 100%;

  @if ($containerWidth>0) {
    max-width: $containerWidth + px;
    margin: 0 auto;
  }
  @if ($containerPadding>0) {
    padding: 0 math.div($containerPadding, 2) + px;
  }
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}